.music-card {
    max-width: 200px;
    max-height: 350px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.5);
}

.image {
    padding: 15px;
    margin-top: 5px;
}

.image img {
    max-width: 170px;
    max-height: 200px;
    border-radius: 15px;
}

.song-name {
    padding-left: 15px;
}

.song-name p {
    font-weight: 700;
    color: rgb(99, 88, 27);
    font-size: 17px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.singer {
    padding-left: 15px;
}

.singer p {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 10px;
}