.sidebar {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0px;
    justify-content: center;
    gap: 40px;
    width: 30vh;
    height: 100vh;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: white 18px;
    z-index: 1;
    box-shadow: 0px 2px 15px 0px white; 
}

.nav-items {
    align-items: center;
    text-align: left;
}

.sidebar-user {
    padding-top: 20px;
    display: flex;
    gap: 10px;
    text-align: center;
    align-items: center;
    padding-left: 30px;
}

.nav-items ul a {
    display: flex;
    gap: 35px;
}

.nav-items ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
}